@import './utils/variables';
@import './utils/visually-hidden';

@import './base/base';
@import './base/section';
@import './base/container';

@import './components/modal-btn';
@import './components/logo';
@import './components/nav';
@import './components/modal-window';
@import './components/links';
@import './components/text';

@import './layout/header';
@import './layout/hero';
@import './layout/team';
@import './layout/work';
@import './layout/portfolio';
@import './layout/footer';
@import './layout/benefits';
