.menu__item {
    display: flex;
    position: relative;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    margin-left: auto;

}
.menu__item .link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.main-header {
    text-align: center;
    background-color: var(--primary-bg-color);
    padding-top: 200px;
    padding-bottom: 200px;
}
.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}
.page-header-bg {
    background-color: var(--primary-white-color);
}
.menu__header-link::after {
    content: '';
    position: absolute;
   bottom: -1px;
   left: 0;
   display: block;
   width: 100%;
   height: 4px;
    background-color: #188CE8;
    border-radius: 2px;
}
.head-header {
    border-bottom: 1px solid #ECECEC;
}
.site-address__icon2 {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor; 
}