.caption-portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}
.portfolio-item {
    background: var(--primary-white-color);
}
.text-overlay {
    display: block;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    // padding-top: 63px;
    // padding-left: 24px;
    // padding-right: 24px;
    padding: 63px 24px 63px 24px ;
}

.portfolio-text-block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
}
.portfolio-boks-link {
    display: block;
    width: 100%;
    
    &:hover ,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

.main-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0%;
    flex-basis: calc((100% - 180px) / 9);
    gap: 30px;
}
.portfolio-wrapper {
    position: relative;
    overflow: hidden;

}
.overlay-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms linear;

    .portfolio-boks-link:hover &,
    .portfolio-boks-link:focus & {
    transform: translateY(0%);
}
}
