
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms ease, visibility 250ms ease;
}
.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: var(--primary-white-color);
    border-radius: 4px;
    border: 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: 250ms var(--timing-animation);
    cursor: pointer;

    &:focus {
        outline: none;
        border-color: var(--acent-color);
    }
    &:focus +.icon-position {
        fill: var(--acent-color);
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: var(--acent-color);
    transition: 250ms var(--timing-animation);
}
.svg-modal {
    padding-left: 3px;
    padding-top: 4px;
    margin-right: 9px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    fill: transparent;
    cursor: pointer;
}
.checkbox {
    position: absolute;

    &:checked + .svg-modal {
        background-color: var(--acent-color);
        border: none;
    }
    &:checked + .svg-modal .modal-form-own-checkbox {
       border: none;
       display: block;
    }
}
.modal-form-own-checkbox {
   display: none;
}
.modal-form-icon {
    fill: var(--primary-white-color);
   
}

.documents {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
       color: rgba(33, 150, 243, 1);
    }
    .registr-on-position {
        display: flex;
        align-items: center;
        margin-left: 9px;
        margin-top: 20px;
        font-weight: 400;
        line-height: 1.7;
        color: var(--secondary-text-color);
    
    }
    .registr-on {
        display: inline-block;
        font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(117, 117, 117, 1);
    }
    .icon-container {
        position: relative;
        display: block;
    }
    .icon-position {
        position: absolute;
        display: block;
        bottom: 11px;
        left: 14px;
        transition: 250ms var(--timing-animation);
    }
    .contact-form-message {
        display: block;
        width: 100%;
        height: 120px;
        padding: 15px;
        margin-bottom: 20px;
        resize: none;
        outline: none;
        margin: 0;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        cursor: pointer;
        transition: 250ms var(--timing-animation);
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-align: left;

        &:focus {
            outline: none;
            border-color: var(--acent-color);
        }
        &::placeholder {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0.01em;
            text-align: left;
            color: rgba(117, 117, 117, 0.5)    
        }
    }

    .form {
        display: inline-block;
    }
/* .checkbox:focus + .svg-modal  {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
} */