body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color) ;
}
h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;  
    padding-inline-start: 0;
}

img {
    display: block;
}
button { 
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
ul {
    list-style: none;
}

.link {
    text-decoration: none;

    .link-hover &:hover, 
    .link-hover &:focus 
{
    color: var(--acent-color);
    transition: 250ms var(--timing-animation);
}
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}