:root {
    --primary-text-color: #212121 ;
    --title-text-color: #212121;
    --secondary-text-color: #757575;
    --acent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --main-bg-color: #FFFFFF;
    --button-main-color: #188CE8;
    --logo-main-color: black;
    --line-bg-color: #ECECEC;
    --timing-animation: cubic-bezier(0.4, 0, 0.2, 1);
}